.projects{
    min-height: 62vh;
}

.project {
    display: flex;
    justify-content: center;
}

.project table{
    width: 50%;
    text-align: center;
}

.project th {
    font-weight: 700;
    color: #c8aadd;
}