footer {
    border-top: .25rem solid #c8aadd;
}

.footer{
    width: 65%;
    margin:auto;
    padding: 2rem;
    align-items: center;
}

footer .heading {
    font-family: 'Roboto', sans-serif;
    color: #c8aadd;
    font-weight: 500;
}

footer a {
    display: block;
}

footer .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
}
.copyright {
    font-size: .75rem;
    text-align: center;
}

footer .contact {
    display: flex;
    width: 8rem;
    height: 3rem;
    margin: .25rem 0;
    background-color: #c8aadd;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    border-radius: .5rem;
}

footer .contact:hover {
    background-color: #ecd98b;

}
