.hero {
    height: calc(100vh - 124px);
    color: #ecd98b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
}

.hero img{
    width: 36rem;
    height: 36rem;
}

.col-img {
    width: 75%;
    max-height: 22rem;
    /* width: 36rem; */
    object-fit: cover;
}
