@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* colors 
 dark purple: c8aadd
 light purple: d7bcea
 gold: ecd98b
*/

h1.accent,h2.accent ,h3.accent,h4.accent,h5.accent, h6.accent{
  font-family: 'Great Vibes', cursive;
  font-weight: 500;
  color: #c8aadd;
  text-shadow: 3px 3px 2px black;
}

h1 {
  font-size: 3.75rem;
  text-align: center;
}

h2 {
  font-size: 2.25rem;
}

p {
  font-size: 1.125rem;
  line-height: 2.5rem;
}

.container {
  width: 75%;
  max-width: 1920px;
  margin:  auto;
  padding: 2em;
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.col {
  padding: 2rem;
}

.col-text {
  padding: 2em;
}

.bg-dark-purple {
  background-color: #c8aadd;
}

.bg-light-purple {
  background-color: #d7bcea;
}

.bg-gold {
  background-color: #ecd98b;
}