@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* colors 
 dark purple: c8aadd
 light purple: d7bcea
 gold: ecd98b
*/

h1,h2,h3,h4,h5, h6 {
  font-family: 'Great Vibes', cursive;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2.25rem;
}

p {
  font-size: 1.125rem;
  line-height: 2.5rem;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin:  auto;
  padding: 2em;
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.col + .col {
  margin-left: 3rem;
}

.col {
  padding: 2rem;
}

.col-text {
  padding: 2em;
}

.bg-dark-purple {
  background-color: #c8aadd;
}

.bg-light-purple {
  background-color: #d7bcea;
}

.bg-gold {
  background-color: #ecd98b;
}